compile.deprecation:off
compile.debug:true
compile.debuglevel:lines,source

################################################################################
##
## EXTERNAL JAR FILES; ONE OF THE FOLLOWING SECTIONS IS NECESSARY:
##
################################################################################

## ALL JARS FROM REPOSITORY:
dir.jars=/path/to/jars

## JARS SPECIFIED INDIVIDUALLY:
# xml-apis.jar=/path/to/jarfile
# resolver.jar=/path/to/jarfile
